h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    color: #0553a7;
}

.btn{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 5px;
}



.fondo{
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    height: auto;
}

 thead{
    background-color: #0553a7;
    color: #fff;
    text-align: center;
    border: 1px solid #292929 !important;
}

tbody{
    text-align: center;
}