<app-header></app-header>

<div class="container">
   <h1>EDITAR ACTIVIDAD</h1><br>
   <form class="contact-form" [formGroup]="submitForm" (ngSubmit)="OnSubmit(submitForm.value)" autocomplete="off">
      <div class="row">
         <div class="col-sm-12">
            <div class=" tarjeta">
               <div class="shadow-sm card">
                  <div class="card-body">
                     <h4  class="card-title d-flex align-items-center">
                     <i class="bi bi-person-circle"></i><b>Datos Personales</b></h4>
                     <div  class="row">
                        <div  class="col-md-6">
                           <div class="form-field col-lg-12">
                                    <div class="form-field col-lg-12 ">
                                       <input id="codigo" class="input-text js-input block" type="text" formControlName="estudiante"  required>
                                       <input id="students" type="hidden" formControlName="students" required>
                                       <input id="actividadEstudiante" type="hidden" formControlName="idActivitiesStudents" required>
                                       <label class="label" for="codigo" >Documento Estudiante</label>
                                    </div>
                                    <div class="form-field col-lg-12 ">
                                       <input id="nombre" class="input-text js-input block" type="text" formControlName="nombre">
                                       <label class="label" for="nombre">Nombre Estudiante</label>
                                    </div>
                           </div>
                        </div>
                        
                        <div  class="col-md-6">
                           <div class="form-field col-lg-12">
                              <input id="facultad" class="input-text js-input block" type="text" formControlName="facultad" required>
                              <label class="label" for="facultad">Facultad</label>
                           </div> 
                           <div class="form-field col-lg-12 ">
                              <input id="programa" class="input-text js-input block" type="text" formControlName="programa" required>
                              <label class="label" for="programa">Programa</label>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>           
            </div>   
            <div class=" tarjeta">
               <div class="shadow-sm card">
                  <div class="card-body">
                     <h4  class="card-title d-flex align-items-center">
                     <i class="bi bi-calendar-week-fill"></i><b>Informacion de actividad</b></h4>
                     <div  class="row">
                        <div  class="col-md-6">
                           <div class="form-field col-lg-12">
                              <div class="form-field col-lg-12 ">
                                 <input id="codigo" class="input-text js-input" type="text" formControlName="activities" (blur)="getActividadFind($event)" required>
                                 <label class="label" for="codigo" >Codigo Actividad</label>
                              </div>
                              <div class="form-field col-lg-12 ">
                                 <input id="actividad" class="input-text js-input block" type="text" formControlName="actividad">
                                 <label class="label" for="nombre">Nombre Actividad</label>
                              </div>
                           </div>
                        </div>
                        
                        <div  class="col-md-6">
                           <div class="form-field col-lg-12">
                              <input id="fecha" class="input-text js-input" type="date" formControlName="attendanceDate" required>
                              <label class="label" for="fecha">Fecha Asistencia</label>
                           </div> 
                           <div class="form-field col-lg-12 ">
                              <input id="programa" class="input-text js-input" type="text" formControlName="completedHours" required>
                              <label class="label" for="horas">Nro Horas</label>
                           </div>

                            <div class="form-field registrar col-sm-12">
                              <input class="submit-btn" type="submit" value="Guardar">
                              <a (click)="backClicked()" class="submit-btn">Atras</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>           
            </div>        
         </div>       
      </div>
   </form>     
</div>

<!--app-footer></app-footer-->