<app-header></app-header>
<div class="container mt-3">
  <h1 class="title col-sm-12">Listado de Entrevistas</h1><br>
  <a href="consulta" class="submit-btn float-left">Nueva entrevista <i class="bi bi-plus"></i></a>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
    class="table table-striped table-bordered row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Estudiante</th>
        <th>Creador</th>        
        <th>Descripcion</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{item.idPsychologicalStudents}}</td>
        <td>{{item.students}}</td>
        <td>{{item.users}}</td>      
        <td>{{item.description}}</td>
        <td>
          <button type="button" class="btn btn-danger" title="Ver Reporte" (click)="openPdfReport(item.idPsychologicalStudents,item.students,item.users)">Ver Reporte <i class="bi bi-file-earmark-pdf"></i></button>
          <button type="button" class="btn btn-warning" (click)="confirmacion(item.idPsychologicalStudents)" title="Cerrar Entrevista psicologica">Cerrar<i class="bi bi-x"></i></button>
        </td>
      </tr>
    </tbody>
  </table><br>
</div>
<app-footer></app-footer>