<app-header></app-header>

<section class="get-in-touch">
   
   <div class="form-field col-lg-12 registrar">
      <h1 class="title">Registrar tutoría</h1>
      <a href="consultarTutoria" class="submit-btn">Ver tutorías</a>
   </div>
   <form class="contact-form row" [formGroup]="submitForm" (ngSubmit)="OnSubmit(submitForm.value)" autocomplete="false">
      <div class="form-field col-lg-6">
         <input id="descripcion" class="input-text js-input" type="text" formControlName="description" required>
         <label class="label" for="message">Descripción</label>
         <input id="user" type="hidden" formControlName="users">
      </div>
      <div class="form-field col-lg-6 ">
         <select class="input-text js-input" formControlName="timeZone" >
         <option *ngFor="let data of dataFranja" [value]="data.locaDescripcion" >{{data.locaDescripcion}}</option>
         </select>
         <label class="label" for="jornada">Sede</label>
      </div>
      
      <div class="form-field col-lg-12 registrar">
         <input class="submit-btn" type="submit" value="Guardar">
         <a href="consultarTutoria" class="submit-btn">Cancelar</a>
      </div>
   </form>
</section>

<app-footer></app-footer>