
  body{
    height: 50%;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0553a7!important;
    color: #fff;
  }

  p {
      padding: 0;
      margin: 0px;
      color: #fff;
  }
  
