  <br><br><br>
  <footer class="">
  <div class="py-2">
      <div class="container text-center">
        <p>Diseñado y Desarrollado por Carlos Ruiz y John Idrobo</p>
        <p>© Copyright 2022</p>
      </div>
    </div>
  </footer>
