<app-header></app-header>

<div class="container">
   <h1>GESTIÓN DE TUTORIA</h1><br>
   <form class="contact-form" [formGroup]="submitForm1" (ngSubmit)="OnSubmitUpdate(submitForm1.value)" autocomplete="off">
      <div class="row">
         <div class="col-sm-8">
            <div class=" tarjeta">
               <div class="shadow-sm card">
                  <div class="card-body">
                     <h4  class="card-title d-flex align-items-center">
                     <b>Datos Tutoria</b></h4>
                     <div  class="row">
                        <div  class="col-md-6">
                           <div class="form-field col-lg-12">
                                    <div class="form-field col-lg-12 ">
                                       <input id="codigo" class="input-text js-input" type="text" formControlName="description" required>
                                       <input id="users" type="hidden" formControlName="users">
                                       <label class="label" for="codigo" >Descripción</label>
                                    </div>
                           </div>
                        </div>
                        
                        <div  class="col-md-6">
                               <div class="form-field col-lg-12 ">
                                  <!--input id="edad" class="input-text js-input block" type="text" formControlName="timeZone" required-->
                                  <select class="input-text js-input select-sede" formControlName="timeZone" >
                                    <option *ngFor="let data of dataFranja" [value]="data.locaDescripcion" >{{data.locaDescripcion}}</option>
                                    </select>
                                  <label class="label" for="edad">Sede</label>
                                </div>
                                <div class="form-field col-lg-12 ">
                                    <input class="submit-btn" type="submit" value="Guardar">
                               </div>
                           </div>
                     </div>
                  </div>
               </div>           
            </div>          
         </div> 
         <div class="col-sm-3">
            <div class="tarjeta">
              <div class="shadow-sm card">
                <div class="card-body row">
                     <div class="form-field registrar col-sm-6">
                        <input class="submit-btn" type="button" data-toggle="modal" data-target="#myModal2" value="Añadir Estudiante">
                        <input class="submit-btn" type="button" data-toggle="modal" data-target="#myModal" value="Ver Estudiantes">
                        <input class="submit-btn" type="button" data-toggle="modal" data-target="#myModal3"  value="Nuevo horario">
                        <a href="consultarTutoria" class="submit-btn">Atras</a>
                      </div>                  
                </div>
              </div>           
          </div>
         </div>   
      </div>
   </form>     
</div>
<div class="container">
   <!-- The Modal -->
   <div class="modal fade" id="myModal">
     <div class="modal-dialog modal-lg">
       <div class="modal-content">
       
         <!-- Modal Header -->
         <div class="modal-header">
           <h1 class="titulo-modal">Estudiantes en tutoria</h1>
           <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>
         
         <!-- Modal body -->
         <div class="modal-body">
            <div class="div-time">
               <input matInput  [(ngModel)]="dateTime" type="datetime-local" class="date-time" id="date-time" placeholder="start date">
            </div>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
            class="table table-striped table-bordered row-border hover">
            <thead>
            <tr>
               <th>Estudiante</th>
               <th>Nota 1</th>
               <th>Nota 2</th>
               <th>Asignatura</th>
               <th>Grupo</th>
               <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of data">
               <td>{{item.students}}</td>
               <td><input type="text" class="input-text js-input" value="{{item.noteOne}}" id="nota1{{item.idTutorshipsStudents}}" size="2"></td>
               <td><input type="text" class="input-text js-input" value="{{item.noteTwo}}" id="nota2{{item.idTutorshipsStudents}}" size="2"></td>
               <td>{{item.subjects}}</td>
               <td>{{item.group}}</td>
               <td style="width: 150px;">
                  <button [ngStyle]="{'display': verElemento ? 'none' : 'inline-block'}" type="submit" class="btn btn-success guardar-notas" (click)="OnSubmitNotas(item.idTutorshipsStudents,item.tutorships.idTutorships,item.tutorships.users)" title="Guardar Notas"><i class="bi bi-save"></i></button>
                  <button [ngStyle]="{'display': verElemento ? 'none' : 'inline-block'}" type="button" class="btn btn-danger eliminar-estudiante"  title="Eliminar Estudiante" (click)="confirmacion(item.idTutorshipsStudents)"><i class="bi bi-trash"></i></button>
                  <button [ngStyle]="{'display': verElemento ? 'none' : 'inline-block'}" type="button" class="btn btn-warning asistencia-estudiante"  title="Asistencia Estudiante" (click)="visibilidad(true)"><i class="bi bi-list-check"></i></button>

                  <button [ngStyle]="{'display': verElemento ? 'inline-block' : 'none'}" type="button" class="btn btn-success asistio" id="asisitio{{item.idTutorshipsStudents}}" (click)="asistencia(item.idTutorshipsStudents,item.students,item.tutorships.idTutorships,item.tutorships.users,true)" title="Si asistio" ><i class="bi bi-check"></i></button>
                  <button [ngStyle]="{'display': verElemento ? 'inline-block' : 'none'}" type="button" class="btn btn-danger no-asistio" id="no-asisitio{{item.idTutorshipsStudents}}" (click)="asistencia(item.idTutorshipsStudents,item.students,item.tutorships.idTutorships,item.tutorships.users,false)" title="No asistio" ><i class="bi bi-x"></i></button>
                  <button [ngStyle]="{'display': verElemento ? 'inline-block' : 'none'}" type="button" class="btn btn-warning cancelar"  title="Cancelar" (click)="visibilidad(false)"><i class="bi bi-clipboard-x"></i></button>
               </td>
            </tr>
            </tbody>
         </table>
         </div>
         
         <!-- Modal footer -->
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
         
       </div>
     </div>
   </div>
   <div class="container">
      <!-- The Modal -->
      <div class="modal fade" id="myModal2">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            
            <!-- Modal body -->
            <div class="modal-body">
               <form class="contact-form" [formGroup]="submitForm" (ngSubmit)="OnSubmit(submitForm.value)" autocomplete="off">
                  <div class=" tarjeta">      
                     <div class="shadow-sm card">
                        <div class="card-body">
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4  class="card-title d-flex align-items-center">
                           <i class="bi bi-person-plus-fill"></i><b>Añadir Estudiante a tutoria</b></h4>
                           <div  class="row">
                              <div class="col-sm-6">
                                 <div class="form-field col-lg-12">
                                    <input id="users" type="hidden" formControlName="users">
                                       <input id="facultad" class="input-text js-input" type="text" formControlName="students" (blur)="getAllData($event)" required>
                                       <label class="label" for="facultad">Identificación Estudiante</label>
                                    </div> 
                                    <div class="form-field col-lg-12 ">
                                       <select class="input-text js-input" type="text" formControlName="materia" (change)="changeNotas($event)" required>
                                         <option *ngFor="let data of materias" [value]="data.codigoMateria+','+data.grupo">{{data.descripMateria}}</option>
                                       </select>
                                       <input  type="hidden" formControlName="subjects" required>
                                       <input  type="hidden" formControlName="group" required>
                                       <label class="label" for="programa">Materia</label>
                                    </div>    
                                    <div class="form-field col-lg-12 ">
                                       <input id="jornada" class="input-text js-input block" type="text" formControlName="grupo" required>
                                       <label class="label" for="semestre">Grupo</label>
                                    </div>                       
                              </div>
                              <div class="col-sm-6">
                                 <div class="form-field col-lg-12 ">
                                    <input id="jornada" class="input-text js-input" type="text" formControlName="noteOne" required>
                                    <label class="label" for="semestre">Nota 1</label>
                                 </div>
                                 <div class="form-field col-lg-12 ">
                                    <input id="jornada" class="input-text js-input" type="text" formControlName="noteTwo" required>
                                    <input id="tutoria" type="hidden" formControlName="idTutorships" required>
                                    <label class="label" for="semestre">Nota 2</label>
                                 </div>

                                 <div class="form-field col-lg-12 ">
                                    <input class="submit-btn" type="submit" value="Guardar">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>           
                  </div>
               </form>
            </div>
            
          </div>
        </div>
      </div>
 
</div>
<div class="modal fade" id="myModal3">
   <div class="modal-dialog modal-lg">
     <div class="modal-content">
     
       <!-- Modal Header -->
       <div class="modal-header">
         <h1 class="titulo-modal">HORARIO DE TUTORIA</h1>
         <button type="button" class="close" data-dismiss="modal">&times;</button>
       </div>
       
       <!-- Modal body -->
       <div class="modal-body">
         <div class="container">
           <form class="contact-form" [formGroup]="submitFormHorario" (ngSubmit)="OnSubmitHorarios(submitFormHorario.value)" autocomplete="off">
              <div class="row">
                 <div class="col-sm-12">
                    <div class=" tarjeta">
                       <div class="shadow-sm card">
                          <div class="card-body">
                             <div  class="row">
                                <div  class="col-md-6">
                                   <div class="form-field col-lg-12">
                                            <div class="form-field col-lg-12 ">
                                               <!--input ngClockPicker [ngClockPickerConfig]="config" class="input-text js-input" formControlName="time" />
                                               <labl class="label" for="nombre">Hora inicio</label-->
                                                <input type="time" atp-time-picker class="input-text js-input" formControlName="startTime"/>
                                                 <label class="label" for="nombre">Hora Inicio:</label>
                                            </div>
                                   </div>
 
                                   <div class="form-field col-lg-12">
                                     <label class="form-check-label" for="defaultCheck1" style="margin-right: 27px;">Lunes</label>
                                     <input class="form-check-input" type="checkbox" value="" formControlName="lunes">
                                     
                                     <label class="form-check-label" for="defaultCheck1" style="margin-right: 27px;">Martes</label>
                                     <input class="form-check-input" type="checkbox" value="" formControlName="martes" >
   
                                     <label class="form-check-label" for="defaultCheck1" style="margin-right: 27px;">Miércoles</label>
                                     <input class="form-check-input" type="checkbox" value="" formControlName="miercoles" >
                                 </div>
                             </div>

                                <div  class="col-md-6">
                                   <div class="form-field col-lg-12">
                                      <!--div class="form-field col-lg-12 ">
                                         <input ngClockPicker [ngClockPickerConfig]="config" class="input-text js-input" formControlName="time" />
                                         <label class="label" for="nombre">Hora fin:</label>
                                      </div-->
                                      <input type="time" atp-time-picker class="input-text js-input" formControlName="endTime"/>
                                      <label class="label" for="nombre">Hora fin:</label>
                                  </div>
                                  <div class="form-field col-lg-12">
 
                                   <label class="form-check-label" for="defaultCheck1" style="margin-right: 27px;">Jueves</label>
                                   <input class="form-check-input" type="checkbox" value="" formControlName="jueves" >
                                                               
                                   <label class="form-check-label" for="defaultCheck1" style="margin-right: 27px;">Viernes</label>
                                   <input class="form-check-input" type="checkbox" value="" formControlName="viernes">

                                   <label class="form-check-label" for="defaultCheck1" style="margin-right: 27px;">Sábado</label>
                                   <input class="form-check-input" type="checkbox" value="" formControlName="sabado" >
                                                               
                                   <label class="form-check-label" for="defaultCheck1" style="margin-right: 27px;">Domingo</label>
                                   <input class="form-check-input" type="checkbox" value="" formControlName="domingo">
                               </div>
                                </div>
                           
                                <div class="form-field col-lg-12 registrar">
                                 <input class="submit-btn" type="submit" value="Guardar">
                              </div>
                             </div>
                          </div>
                       </div>           
                    </div>          
                 </div>   
              </div>
           </form>     
        </div>
       </div>
       
       <!-- Modal footer -->
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>
       
     </div>
   </div>
 </div>
<!--app-footer></app-footer-->