<head>
  <link rel="icon" href="assets/img/favicon.png"/>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="titulo" href=""><img style="width:100px; margin-right:15px"src="assets/img/logo_letras.png"></a>
    <a class="navbar-brand" href="#"><i class="bi bi-house-fill"></i> Inicio</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <div *ngIf="docente || admin">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-book-fill"></i> Tutorías
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div *ngIf="docente"><a class="dropdown-item" href="crearTutoria"><i class="bi bi-arrow-return-right"></i> Crear Tutoría</a></div>
              <a class="dropdown-item" href="consultarTutoria"><i class="bi bi-arrow-return-right"></i> Consultar Tutorías</a>
            </div>
          </li>
        </div>
        <div *ngIf="BU || admin">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="bi bi-brush-fill"></i> Actividades
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <!--div *ngIf="BU"><a class="dropdown-item" href="registrarActividad">Registrar Actividad</a></div-->
                <a class="dropdown-item" href="consultarActividad"><i class="bi bi-arrow-return-right"></i> Consultar Actividades</a>
                <!--a class="dropdown-item" href="actividadesEstudiantes">Actividades registradas</a-->
              </div>
          </li>
        </div>
        <div *ngIf="psicologo || admin">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-ear-fill"></i> Psicología
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div *ngIf="psicologo"><a class="dropdown-item" href="consulta"><i class="bi bi-arrow-return-right"></i> Crear Entrevista Psicológica </a></div>
              <div><a class="dropdown-item" href="consultarCitas"><i class="bi bi-arrow-return-right"></i> Consultar Entrevistas Psicológicas</a></div>
              <!--div class="dropdown-divider"></div-->
              <!--a class="dropdown-item" href="#">Something else here</a-->
            </div>
          </li>
        </div>
    
      </ul>
      <!--form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form-->
      
    </div>
    <div class="float-rigth">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bienvenido:  <i class="bi bi-person-badge-fill"></i> {{nombre}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <button class="cerrar-sesion" (click)="cerrarSesion();"><i class="bi bi-door-open-fill"></i> Cerrar Sesión</button>
        </div>
      </li>
    </ul>
    </div>
  </nav>