.bg-light {
    background-color: #0553a7!important;
}

.navbar-light .navbar-nav .nav-link {
    color:#fff;
}

.navbar-light .navbar-brand {
    color: #fff;
}

.dropdown-menu{
    background-color: #0553a7!important;
    border-radius: 10px;
}

.dropdown-toggle:hover{
    background-color: #58a1f0;
    border-radius: 10px;
    /*color: #fff !important;*/
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    background-color: #58a1f0;
    border-radius: 10px;
}

.cerrar-sesion{
    background: transparent;
    border: none;
    color: #fff;
    padding: 7px;
}

.cerrar-sesion:hover{
    background-color: #58a1f0;
    border-radius: 10px;
}