body{
  height: auto;
}

h1{
  text-align: center;
  color: #0553a7;
  font-size: 3em;
  margin: 0;
}
.registro{
  font-size: 10px;
}
h4{
  color: #5543ca;
  text-decoration: underline;
  font-size: 25px;
}
.get-in-touch {
    max-width: 900px;
    margin: 50px auto;
    position: relative;
  
  }
  .get-in-touch .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2.8em;
    line-height: 48px;
    padding-bottom: 15px;
    color: #0553a7;
    background: #0553a7;
     /* background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
      background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
      background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;*/
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
  }
  
  .contact-form .form-field {
    position: relative;
    margin: 38px 0;
  }
  .contact-form .input-text {
    display: block;
    width: 100%;
    height: 25px;
    border-width: 0 0 2px 0;
    border-color: #5543ca;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
  }
  .contact-form .input-text:focus {
    outline: none;
  }


  .contact-form .input-text:focus + .label,
  .contact-form .input-text.not-empty + .label {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
  }
  .contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #5543ca;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, 
    -webkit-transform .2s ease-in-out;
    border-radius: 14px;
  }
  .contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
     background-image: linear-gradient(125deg,#a72879,#064497);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width:180px;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
  }

  fieldset.borde {
    border: 2px groove #5543ca !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.titulo {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

.container{
 margin-top: 30px;
}

h1{
  text-align: center;
}

.accordion>.card>.card-header:hover {
  background-color: #0553a7;
  color: #fff;
}

.accordion>.card>.card-header {
  background-color: #8d9296;
  color: #fff;
  padding: 0px;
}

.btn:not(:disabled):not(.disabled) {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

button:focus:not(:focus-visible) {
  background-color: #0553a7;
}

button[aria-expanded="true"]{
  background-color: #0553a7;
}

button[aria-expanded="false"]{
  background-color: #8d9296;
}

thead tr th { 
  position: sticky;
  top: 0;
  z-index: 10;
}

h5{
  margin-top: 20px;
  margin-bottom: 15px;
}

.opciones{
  padding: 1px 6px 1px 6px;
  margin-right: 5px;
  text-align: center;
}

.tarjeta {
  margin-bottom: 20px;
}

.area{
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #5543ca;
    cursor: text;
    transition: transform .2s ease-in-out;
    border-radius: 14px;
}

textarea{
  border-color: #5543ca;
}

.registrar{
  margin-bottom: 5px !important;
  margin-top: 10px !important;
}

.js-input{
  color: rgb(73, 73, 73);
  font-size: 13px !important;
}

.block{
  cursor: not-allowed;
}

a{text-align: center;}