<app-header></app-header>



<div class="container">
   <h1>ENTREVISTA PSICOLÓGICA</h1><br>
   <form class="contact-form" [formGroup]="submitForm" (ngSubmit)="OnSubmit(submitForm.value)" autocomplete="off">
      <div class="row">
         <div class="col-sm-12">
            <div class=" tarjeta">
               <div class="shadow-sm card">
                  <div class="card-body">
                     <h4  class="card-title d-flex align-items-center">
                     <i class="bi bi-person-circle"></i><b> Datos Personales</b></h4>
                     <div  class="row">
                        <div  class="col-md-6">
                           <div class="form-field col-lg-12">
                                    <div class="form-field col-lg-12 ">
                                       <input id="codigo" class="input-text js-input" type="text" formControlName="students" (blur)="getIdentificacion($event)" required>
                                       <input id="users" type="hidden" formControlName="users">
                                       <label class="label" for="codigo" >Documento</label>
                                    </div>
                                    <div class="form-field col-lg-12 ">
                                       <input id="nombre" class="input-text js-input block" type="text" formControlName="nombre">
                                       <label class="label" for="nombre">Nombre</label>
                                    </div>
                                    <div class="form-field col-lg-12 ">
                                       <input id="genero" class="input-text js-input block" type="text" formControlName="genero">
                                       <label class="label" for="genero">Sexo</label>
                                    </div>
                                     <div class="form-field col-lg-12 ">
                                       <input id="nacimiento" class="input-text js-input block" type="text" formControlName="nacimiento">
                                       <label class="label" for="nacimiento">F. Nacimiento</label>
                                    </div>
                           </div>
                        </div>
                        
                        <div  class="col-md-6">
                              <div class="form-field col-lg-12 ">
                                       <input id="edad" class="input-text js-input block" type="text" formControlName="edad" required>
                                       <label class="label" for="edad">Edad</label>
                                    </div>
                                    <div class="form-field col-lg-12 ">
                                       <input id="direccion" class="input-text js-input block" type="text" formControlName="direccion" required>
                                       <label class="label" for="direccion">Dirección</label>
                                    </div>
                                    <div class="form-field col-lg-12 ">
                                       <input id="telefono" class="input-text js-input block" type="text" formControlName="telefono" required>
                                       <label class="label" for="telefono">Telefono</label>
                                    </div>
                                     <div class="form-field col-lg-12 ">
                                       <input id="email" class="input-text js-input block" type="text" formControlName="email" required>
                                       <label class="label" for="email">Email</label>
                                    </div>
                           </div>
                     </div>
                  </div>
               </div>           
            </div>   
            
         </div> 
         <div class="col-sm-12">
            <div class=" tarjeta">
               <div class="shadow-sm card">
                  <div class="card-body">
                     <h4  class="card-title d-flex align-items-center">
                     <i class="bi bi-people-fill"></i><b> Grupo Familiar</b></h4>
                     <div  class="row">
                           <div class="col-sm-12">
                              <table class="table table-bordered">
                                 <thead class="thead-dark">
                                    <tr>
                                       <th>Nombre</th>
                                       <th>Parentesco</th>
                                       <th>Dirección</th>
                                       <th>Telefono</th>
                                    </tr>
                                 </thead>
                                 <tbody class="tbody table-striped">
                                    <tr *ngFor="let item of dataFamiliares">
                                       <td class="registro">{{item.nombreFamiliar}}</td>
                                       <td class="registro">{{item.parentesco}}</td>
                                       <td class="registro">{{item.dirFamiliar}}</td>
                                       <td class="registro">{{item.telFamiliar}}</td>
                                    </tr>                                 
                                 </tbody>
                           </table>

                        </div>
                     </div>
                  </div>
               </div>           
            </div>
            <div class=" tarjeta">
               <div class="shadow-sm card">
                  <div class="card-body">
                     <h4  class="card-title d-flex align-items-center">
                     <i class="bi bi-people-fill"></i><b> Información de academica</b></h4>
                     <div  class="row">
                        <div class="col-sm-6">
                           <div class="form-field col-lg-12">
                                 <input id="facultad" class="input-text js-input block" type="text" formControlName="facultad" required>
                                 <label class="label" for="facultad">Facultad</label>
                              </div> 
                              <div class="form-field col-lg-12 ">
                                 <input id="programa" class="input-text js-input block" type="text" formControlName="programa" required>
                                 <label class="label" for="programa">Programa</label>
                              </div>                           
                        </div>
                        <div class="col-sm-6">
                           <div class="form-field col-lg-12 ">
                                 <input id="jornada" class="input-text js-input block" type="text" formControlName="semestre" required>
                                 <label class="label" for="semestre">Semestre</label>
                              </div>
                        </div>
                     </div>
                  </div>
               </div>           
            </div>       
            
           
            
         </div>  
         <div class="col-sm-12">
            <div class=" tarjeta">
               <div class="shadow-sm card">
                  <div class="card-body">
                     <h4  class="card-title d-flex align-items-center">
                     <i class="bi bi-clipboard-check"></i><b> Información de consulta</b></h4>
                     <div  class="row">
                        <div class="col-sm-12">
                           <div class="form-field col-lg-12 ">
                              <input id="fecha" class="input-text js-input" type="text" formControlName="description" required>
                              <label class="label" for="tipo_consulta">Descripcion</label>
                           </div> 
                           <div class="form-field col-lg-12 ">
                              <label class="area" for="motivo">Motivo</label>
                              <textarea class="form-control" formControlName="reason" rows="3"></textarea>
                           </div>
                           <div class="form-field col-lg-12 ">
                              <label class="area" for="motivo">Diagnostico</label>
                              <textarea class="form-control" formControlName="diagnosis" rows="3"></textarea>
                           </div>
                                                
                        </div>   
                        <div class="col-sm-12">
                           
                           <div class=" col-lg-12 ">
                              <label class="area" for="factores">Factores</label>
                              <textarea class="form-control" formControlName="factors" rows="3"></textarea>
                              
                           </div>
                           <div class="form-field col-lg-12 ">
                              <label class="area" for="motivo">Antecedentes</label>
                              <textarea class="form-control" formControlName="familyBackground" rows="3"></textarea>
                           </div>
                        </div>                 
                     </div>
                  </div>
               </div>           
            </div>
             
            <div class="tarjeta">
               <div class="shadow-sm card">
                  <div class="card-body row">
                     <div class="row">
                        <div class="form-field registrar col-sm-6">
                              <input class="submit-btn" type="submit" value="Guardar">
                           </div>
                           <div class="form-field registrar col-sm-6">
                              <a href="consultarCitas" class="submit-btn">Cancelar</a>
                           </div>
                     </div>                      
                  </div>
               </div>           
            </div>
         </div>     
      </div>
   </form>     
</div>
<br><br><br>
<app-footer></app-footer>