<app-header></app-header>
<div style="background-color: #fff;">
<img src="assets/img/seguimiento.gif" alt="img" style="background-repeat: no-repeat, repeat;display:block;
margin:auto;">
</div>
<app-footer></app-footer>