<app-header></app-header>
<div class="container mt-3">
  <form class="contact-form" [formGroup]="submitForm" autocomplete="off">
      <input id="nombre" class="input-text js-input block" type="text" formControlName="nombre" hidden>
  </form>
  <h1 class="title col-sm-12">Listado de estudiantes en <br> <span style="text-decoration: underline;">{{nameActividad}}</span></h1><br>
  <a href="consultarActividad" class="submit-btn"><i class="bi bi-skip-backward"></i>&nbsp;&nbsp;Regresar</a>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
    class="table table-striped table-bordered row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Documento Estudinate</th>
        <th>Tiempo</th>
        <th>Fecha</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{item.idActivitiesStudents}}</td>
        <td>{{item.students}}</td>
        <td>{{item.completedHours}}</td>
        <td>{{item.attendanceDate}}</td>
        <td class="opciones">
          <button type="button" class="btn btn-primary" (click)="editarActividad(item.idActivitiesStudents)" title="Editar Actividad"><i class="bi bi-pencil-fill"></i></button>
          <button type="button" class="btn btn-danger" (click)="confirmacion(item.idActivitiesStudents)"  title="Eliminar Actividad"><i class="bi bi-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table><br>
</div>
<app-footer></app-footer>