h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2.5em;
    color: #0553a7;
}

.btn{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 5px;
}

.fondo{
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    height: auto;
}

 thead{
    background-color: #0553a7;
    color: #fff;
    text-align: center;
    border: 1px solid #292929 !important;
}

tr{
    text-align: center;
}

.submit-btn {
    display: inline-block;
    background-color: #000;
     background-image: linear-gradient(125deg,#a72879,#064497);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width:180px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    text-align: left;
    margin-bottom: 15px;
  }
/*.opciones{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}*/
