<app-header></app-header>
<div class="container mt-3">
  <h1 class="title col-sm-12">Listado de Tutorías</h1><br>
  <a href="crearTutoria" class="submit-btn float-right">Nueva tutoría <i class="bi bi-plus"></i></a>
  <div class="">
    <label>Tutorias:</label>
    <select (change)="getTutoriaByFilter($event.target.value)">
      <option value='false' selected>Activas</option>
      <option value='true'>Cerradas</option>
    </select>
  </div>
  
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" 
    class="table table-striped table-bordered row-border hover" id="tabla_tutorias">
    <thead>
      <tr>
        <th>ID</th>
        <th>Docente</th>  
        <th>Descripción</th>        
        <th>Sede</th>
        <th *ngIf="bandera==1" class="opciones"> Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{item.idTutorships}}</td>
        <td>{{item.users}}</td>
        <td>{{item.description}}</td>
        <td>{{item.timeZone}}</td>
        <td class="opciones">
          <button *ngIf="bandera==1" type="button" class="btn btn-primary opciones"  (click)="editarTutoria(item.idTutorships)" title="Editar Tutoria"><i class="bi bi-pencil-fill"></i></button>
          <button *ngIf="bandera==1" type="button" class="btn btn-primary opciones" (click)="getDatosTutoria(item.idTutorships,item.users)" data-toggle="modal" data-target="#myModal" title="Consultar horario a tutoria"><i class="bi bi-clock"></i></button>
          <button *ngIf="bandera==1" type="button" class="btn btn-danger opciones" (click)="confirmacionTutoria(item.idTutorships)" title="Eliminar"><i class="bi bi-trash"></i></button>
          <button *ngIf="bandera==1" type="button" class="btn btn-warning opciones" (click)="confirmacionCierreTutoria(item.idTutorships)" title="Cerrar tutoria"><i class="bi bi-x"></i></button>
          <button *ngIf="bandera==1" type="button" class="btn btn-danger" title="Ver Reporte" (click)="consultarDocumentoTutorias(item.idTutorships,item.users,false)"> <i class="bi bi-file-earmark-pdf"></i></button>
          <button *ngIf="bandera==2" type="button" class="btn btn-danger" title="Ver Reporte" (click)="consultarDocumentoTutorias(item.idTutorships,item.users,true)"> <i class="bi bi-file-earmark-pdf"></i></button>
        </td>
      </tr>
    </tbody>
  </table><br>
</div>


<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h1 class="titulo-modal">HORARIO DE TUTORÍA</h1>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        <div class="container">
          <form class="contact-form" [formGroup]="submitFormUpdateHorario" (ngSubmit)="OnSubmitUpHorarios(submitFormUpdateHorario.value)">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Día</th>
                <th>Hora inicio</th>
                <th>Hora fin</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
            
                <tr *ngFor="let horario of horarios">           
                    <td>
                      <div formGroupName="tutorships">
                         <input type="hidden" formControlName="idTutorships" value="{{horario.idSchedule}}"/>
                      </div>                     
                      <p id="text-dia{{horario.idSchedule}}"> {{horario.weekday}}</p>
                          <!--select class="input-text js-input" formControlName="weekday" id="dia{{horario.idSchedule}}" style="display: none;">
                            <option value="dias.Lunes">Lunes</option>
                            <option value="Martes">Martes</option>
                            <option value="Miercoles">Miercoles</option>
                            <option value="Jueves">Jueves</option>
                            <option value="Viernes">Viernes</option>
                            <option value="Sabado">Sabado</option>
                            <option value="Domingo">Domingo</option>
                        </select-->

                    </td>
                    <td>
                      <p id="text-inicio{{horario.idSchedule}}">{{horario.startTime}}</p>
                      <!--input type="time" atp-time-picker class="input-text js-input" value="{{horario.startTime}}" id="time-inicio{{horario.idSchedule}}" formControlName="startTime" style="display: none;"/-->
                    </td>
                    <td>
                      <p id="text-fin{{horario.idSchedule}}">{{horario.endTime}}</p>
                      <!--input type="time" atp-time-picker class="input-text js-input" value="horario.startTime" id="time-fin{{horario.idSchedule}}" formControlName="endTime" style="display: none;"/-->
                    </td>
                    <td>
                      <button type="button" class="btn btn-primary" id="editar{{horario.idSchedule}}" (click)="getDatosHorarioTutoria(horario.tutorships.idTutorships,horario.tutorships.users,horario.idSchedule)" data-toggle="modal" data-target="#exampleModalCenter" title="Editar Horario"><i class="bi bi-pencil-fill"></i></button>
                      <button type="submit" class="btn btn-success" id="guardar{{horario.idSchedule}}" title="Guardar Horario" style="display: none;"><i class="bi bi-save"></i></button>
                      <button type="button" class="btn btn-danger" id="eliminar{{horario.idSchedule}}" (click)="confirmacion(horario.idSchedule,horario.tutorships.idTutorships,horario.tutorships.users)" title="eliminar Horario" ><i class="bi bi-trash"></i></button>
                      <button type="button" class="btn btn-danger" id="cancelar{{horario.idSchedule}}" (click)="visibilidad(horario.idSchedule,'#guardar'+horario.idSchedule,'#cancelar'+horario.idSchedule,false)" title="Cancelar Horario" style="display: none;"><i class="bi bi-x"></i></button>
                  </td>
              </tr>
            
            </tbody>
          </table>
        </form>
       </div>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modificar horario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="contact-form row" [formGroup]="submitFormUpdateHorario" (ngSubmit)="OnSubmitUpHorarios(submitFormUpdateHorario.value)" autocomplete="false">
          <div class="form-field col-lg-12">
             <select class="input-text js-input" formControlName="weekday" id="dia" >
                            <option value="Lunes">Lunes</option>
                            <option value="Martes">Martes</option>
                            <option value="Miercoles">Miércoles</option>
                            <option value="Jueves">Jueves</option>
                            <option value="Viernes">Viernes</option>
                            <option value="Sabado">Sábado</option>
                            <option value="Domingo">Domingo</option>
              </select>
             <label class="label" for="message">Dia</label>
          </div>
          <div class="form-field col-lg-6 ">
            <div formGroupName="tutorships">
              <input type="hidden" formControlName="idTutorships"/>
           </div> 
             <input type="hidden" formControlName="idSchedule"/>
             <input type="time" atp-time-picker class="input-text js-input"  id="time-inicio" formControlName="startTime"/>
             <label class="label" for="jornada">Hora inicio</label>
          </div>
          <div class="form-field col-lg-6 ">
            <input type="time" atp-time-picker class="input-text js-input" value="horario.startTime" id="time-fin" formControlName="endTime"/>
            <label class="label" for="jornada">Hora fin</label>
         </div>
          <div class="form-field col-lg-12 registrar">
             <input class="submit-btn" type="submit" value="Guardar">
          </div>
       </form>
      </div>
      
    </div>
  </div>
</div>
<app-footer></app-footer>
