<head>
  <link rel="icon" type="image/x-icon" href="assets/img/uniajc.png"/>
</head>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/img/uniajc.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
      <input type="text" id="login" class="fadeIn second"  placeholder="login" formControlName="login">
      <input type="password" id="password" class="fadeIn third" placeholder="password" formControlName="password"><br>
      <div class="alert alert-danger" *ngIf="errorStatus">
        <p>{{ errorMsj }}</p>
      </div>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" data-toggle="modal" data-target="#recuperarContrasena">Forgot Password?</a>
    </div>

  </div>
</div>

<div class="modal fade" id="recuperarContrasena" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titulo-recuperar">Recuperar contraseña</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="recuperarForm" (ngSubmit)="onRecuperar(recuperarForm.value)" class="form-recuperar">
          <input type="text" id="login" class="input-recuperar"  placeholder="User name" formControlName="username">
          <div class="alert alert-danger" *ngIf="errorStatusRecuperar">
            <p>{{ errorMsjRecuperar }}</p>
          </div>
          <div class="alert alert-success" *ngIf="errorStatusRecuperarEnvio">
            <p>{{ errorMsjRecuperar }}</p>
          </div>
          <input type="submit" class="btn-success btn-recuperar" value="Recuparar">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>