h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    color: #0553a7;
}

h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2em;
    color: #0553a7;
}

.btn{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 5px;
}



.fondo{
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    height: auto;
}

 thead{
    background-color: #0553a7;
    color: #fff;
    text-align: center;
    border: 1px solid #292929 !important;
}
.submit-btn {
    display: inline-block;
    background-color: #000;
     background-image: linear-gradient(125deg,#a72879,#064497);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width:auto;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    text-align: left;
    margin-bottom: 15px;
  }

.opciones{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}


.input-text {
    display: block;
    width: 100%;
    height: 25px;
    border-width: 0 0 2px 0;
    border-color: #5543ca;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
  }
  .input-text:focus {
    outline: none;
  }


   .input-text:focus + .label,
   .input-text.not-empty + .label {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
  }

  .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #5543ca;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, 
    -webkit-transform .2s ease-in-out;
    border-radius: 14px;
  }

  .form-field{
    margin: 0 auto;
  }

  .consultar{
    margin-top: 15px;
    text-align: center;
  }