<app-header></app-header>
<div class="container mt-3">
  <h1 class="title col-sm-12">Listado de actividades</h1><br>
  <input class="submit-btn" type="button" data-toggle="modal" data-target="#myModal"  value="Consulta por estudiante">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
    class="table table-striped table-bordered row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre Actividad</th>
        <th>Tipo Actividad</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{item.idActividad}}</td>
        <td>{{item.actividad}}</td>
        <td>{{item.tipoActividad}}</td>
        <td>
             <button type="button" class="btn btn-primary" (click)="agergarActividad(item.idActividad)" title="Registrar Estudiante En Actividad"><i class="bi bi-plus"></i></button>
             <button type="button" class="btn btn-success" (click)="listarEstudiantes(item.idActividad, item.actividad)" title="Ver estudinates en actividad"><i class="bi bi-list-task"></i></button>
             <button type="button" class="btn btn-danger" (click)="openPdfReport(item.idActividad)" title="Ver Reporte actividades"><i class="bi bi-file-earmark-pdf"></i></button>
             <button type="button" class="btn btn-info" (click)="openPdfReportSuma(item.idActividad)" title="Ver Reporte de sumatoria de actividades"><i class="bi bi-file-earmark-pdf"></i></button>
        </td>
      </tr>
    </tbody>
  </table><br>
</div>

<div class="container">
  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="titulo-modal">Consultar actividades por estudiante</h2>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div><br>
        <!-- Modal body -->
        <div class="modal-body">
          <div class="form-field col-lg-8 ">
            <input id="jornada" class="input-text js-input"  [(ngModel)]="document" type="text"  required>
            <label class="label" for="semestre">Documento</label>
         </div>

         <div class="form-field col-lg-8 ">
            <button class="submit-btn  consultar" type="button" (click)="consultarDocumento()">Consultar</button>
         </div>
        </div>
        
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>