<app-header></app-header>



<div class="container">
   <h1>HORARIO DE TUTORIA</h1><br>
   <form class="contact-form" [formGroup]="submitForm">
      <div class="row">
         <div class="col-sm-8">
            <div class=" tarjeta">
               <div class="shadow-sm card">
                  <div class="card-body">
                     <h4  class="card-title d-flex align-items-center">
                     <b>Datos Tutoria</b></h4>
                     <div  class="row">
                        <div  class="col-md-6">
                           <div class="form-field col-lg-12">
                                    <div class="form-field col-lg-12 ">
                                       <input ngClockPicker [ngClockPickerConfig]="config" class="input-text js-input" formControlName="time" />
                                       <label class="label" for="nombre">Hora inicio</label>
                                    </div>
                           </div>
                     </div>
                        
                        <div  class="col-md-6">
                           <div class="form-field col-lg-12">
                              <div class="form-field col-lg-12 ">
                                 <input ngClockPicker [ngClockPickerConfig]="config" class="input-text js-input" formControlName="time" />
                                 <label class="label" for="nombre">Hora fin:</label>
                              </div>
                          </div>

                          <div class="form-field registrar col-sm-6">
                           <input class="submit-btn" type="button" data-toggle="modal" data-target="#myModal2" value="Añadir Estudiante"><br><br>
                           <input class="submit-btn" type="button" data-toggle="modal" data-target="#myModal" value="Ver Estudiantes"><br><br>
                           <input class="submit-btn" type="submit" value="Guardar"><br><br>
                           <input class="submit-btn" type="submit" value="Cancelar">
                         </div>  
                        </div>
                     </div>
                  </div>
               </div>           
            </div>          
         </div>   
      </div>
   </form>     
</div>